<div layout="horizontal" flex>
    <md-sidenav layout="vertical" class="md-sidenav-left md-whiteframe-z5" component-id="left" is-locked-open="$media('md')">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Votes</h1>
        </md-toolbar>
        <md-content class="md-padding" layout="vertical">

            <p hide show-md>
                This sidenav is locked open on your device. To go back to the default behavior,
                narrow your display.
            </p>
        </md-content>

    </md-sidenav>

    <md-content flex class="md-theme-indigo">


        <div layout="vertical" layout-fill ui-view>
        </div>

    </md-content>
</div>