<div class="ui column row">
    <div class="four wide column">
        <a class="ui labeled icon positive fluid button" ui-sref="root.node.create">
            <i class="plus icon"></i>
            Ajouter
        </a>

        <div class="ui vertical text menu">
            <div class="header item">Trier par</div>
            <a class="active item">
                <i class="calendar icon"></i> Date
            </a>
            <a class="item">
                <i class="mail icon"></i> Activité
            </a>
        </div>

    </div>
    <div class="twelve wide column">
        <div class="ui list">

            <div class="item" ng-repeat="node in nodes | orderBy:'start'">
                <i class="big trophy icon"></i>

                <div class="content">
                    <a class="header" ui-sref="root.node({nodeId: node.id})">
                        {{node.name}}
                    </a>

                    <div class="description">
                        {{node.createdAt}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>