<div class="ui sixteen wide column">
    <div class="ui menu">
        <div class="item">
            <a class="ui labeled icon fluid button" ui-sref="root.node.create">
                <i class="plus icon"></i>
                Déscription
            </a>
        </div>
        <div class="item">
            <a class="ui labeled icon fluid button" ui-sref="root.node.create">
                <i class="plus icon"></i>
                Vote
            </a>
        </div>
        <div class="right menu">
            <div class="item">
                <div class="ui buttons">
                    <div class="ui button">Annuler</div>
                    <div class="or"></div>
                    <div class="ui positive button">Envoyer</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="ui sixteen wide column">
    <form class="ui form segment">
        <div class="field">
            <label>Titre</label>

            <div class="ui left labeled input">
                <input type="text" placeholder="Titre">

                <div class="ui red pointing above ui label">Le nom du formulaire est requi</div>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Description rapide</label>

            <div class="ui input">
                <input type="text" placeholder="Description">
            </div>
        </div>
        <div class="ui two fields">
            <div class="field">
                <label>Date</label>

                <div class="ui labeled input">
                    <input type="date" placeholder="Date">

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Date de fin</label>

                <div class="ui input">
                    <input type="date" placeholder="Date">
                </div>
            </div>
        </div>
        <div class="ui positive large button ">
            Save
        </div>

        <div class="ui negative button ">
            Annuler
        </div>
    </form>
</div>